
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
}


.animated-box {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    border-radius: 10px;
    animation: moveAndChangeColor 5s infinite;
}


@keyframes moveAndChangeColor {
    0% {
        transform: translateX(0);
        background-color: #4CAF50;
    }
    25% {
        transform: translateX(200px);
        background-color: #FF5722;
    }
    50% {
        transform: translateX(200px) translateY(200px);
        background-color: #FFC107;
    }
    75% {
        transform: translateX(0) translateY(200px);
        background-color: #03A9F4;
    }
    100% {
        transform: translateX(0) translateY(0);
        background-color: #4CAF50;
    }
}
