body {
    font-family: Arial, sans-serif;
    background-color: #03617e;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.flexlogin{
	display: flex;
	flex-direction: row;
}
.main-container{
	width:400px;
	height: 500px;
	background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)),url(imgBack-2.jpg) no-repeat;

}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 400px;
	padding-top: 100px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}
.terms {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}
button:hover {
    opacity: 0.9;
}

@media (max-width: 600px) {
    .main-container {
		display: none;
    }
	.flexlogin{
	width:400px;
	height: 500px;
	}
	.form-container{
		background-color: #333;
		
	}
	label,h2{
		color: white;
	}
}
