body{
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
}
.container{
	width:400px;
	height: 650px;
	background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)),url(imgBack-2.jpg) no-repeat;
}
.container h1  {
	color: white;
	text-align: center;
	margin: 0;
	padding-top: 300px;
}

.flexdiv{
	display: flex;
}
.main{
	width: 700px;
	height: 700px;
	display: grid;
    margin-left:200px;
	margin-top:25px;
	grid-template-columns: 43% 43%;
	grid-template-rows: 10% 10% 10% 10% 10% 10% 10%;

}
h2{
	display: none;
}
.fullName label{
	display: block;
}
.regtext{
	width: 230px;
	height: 30px;
}



/*////////////////////////////////  gender    /////////////////////////// */
.gender p {
margin: 0px;
}

.hobbies p {
	margin: 0px;
}
.ccode label{
display: block;
}
#Ctry{
	width: 230px;
	height: 30px;
}
#info{
	width: 230px;
	height: 80px;
}
span{
	color: red;
}
.tm{
	display: block;
}
.btn {
	margin-top: auto;
	position: absolute;
	bottom: 20px;
	right:300px;

}
.btn button{
	height: 30px;
	width: 80px;
	border-radius: 5px;
	color: white;
	background-color: rgb(41, 247, 14);
	border: none;
}
.bio label{
	display: block;
}

@media  (max-width: 600px) {
.flexdiv{
	min-height: 900px;
	min-width: 900px;
	background-color: rgb(49, 48, 48);
}
.container{
	display: none;
}
.main{
	grid-template-columns: 40%;
	margin-left: 320px;
}
h2{
	display: inline;
	color: white;
	margin-left: 300px;
}
label{
	color: beige;
}
.btn {
position: relative;
bottom:px;
left: 40px;
padding-top: 40px;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="tel"]{
	width: 300px;
	color: white;
}
p{
	color: white;
}
.bio {
	width: 300px;
}
}

